<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>Python from dataset</title>
    <script>
        // function mapArray(arr){
        //     for (var i in arr) 
        //     {
        //     console.log("row " + i);
        //     for (var j in arr[i]) 
        //         {
        //         console.log(" " + arr[i][j]);
        //         return j
        //         }
        //     }
        // }
        // document.getElementById("demo").innerHTML = mapArray(arr);
    </script>
</head>

<body>
    <div>
        <!-- <form action="" method="POST">
            <button>send</button>
        <form> -->
        <!-- <form method="POST">
            <input name="text">
            <input type="submit">
        </form> -->
        <!-- <input type = "button" onclick = "mapArray({apis})" value = "Message Print">    -->
        <h1>
            <!-- {{mapArray(apis)}}} -->
            <p id="demo"></p>
            {{apis.0}}

        </h1>
               
    </div>
</body>


</html>